<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|upper }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1><marquee>Flask e Jinja! :D</marquee></h1>
        <ul id="menu">
            {% for user in users %}
                <li><a href="{{ user._id }}">{{ user.username }}</a></li>
            {% endfor %}
        </ul>
        {% if exibir %}
            Um conteúdo secreto!
        {% endif %}
        {# um comentário #}
    </body>
</html>